* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #37fa75;
}
.container {
  width: 35%;
  height: 100vh;
  margin: auto;
  border: 2px solid #100d0d;
  border-radius: 10px;
  overflow: hidden;
}
.bg-image {
  position: centered;
  
  width: 100%;
  height: 100vh;
  object-fit: cover;
}